.my-learning
  table
    display: table !important
  td
    border-bottom: 1px dashed #666 !important
  td strong
    color: orangered
  tbody tr:hover
    background-color: #ECFDA9
  tbody tr:hover td strong
    color: darkviolet
